* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  background-color: #fae0f4a8;
  font-size: 0.9em;
}

header {
  padding: 10px 0;
  text-align: center;
  color:#555;
}
.recept,
.specialInstructions,
.preSets {
  font-size: 1.2em;
  color: #555;
  margin-top: 20px;
  text-align: center;
  align-items: center;
}

.preSets img {
  height: 6em;
  width: 6em;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
}

.preSets img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}

.smoothieForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  font-family: Arial, sans-serif;
}

.container{
  margin: 0 auto;
  padding: 2em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  font-family: Arial, sans-serif;
  max-width: 40em;
}

.smoothieForm label {
  display: block;
  padding-bottom: 1.5em;
}

.smoothieForm select,
.smoothieForm input[type="number"],
.smoothieForm input[type="checkbox"],
.smoothieForm textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.smoothieForm button {
  background-color: #db9512;
  color: white;
  padding: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}
.smoothieForm button:hover {
  background-color: #f5bb51;
  transition: background-color 0.3s ease;
}
